/*font-family: "Gilroy", "Arial", sans-serif;*/

/*font-family: "Open sans", "Arial", sans-serif;*/

/*font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit*/

/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/*
   Типографика 
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;
*/

/*
   Оформление 
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;
*/

/*
   Анимация 
  transition: color 1s;
*/

/*
   Разное 
  will-change: auto;
*/

@font-face {
  font-family: "gilroyextrabold";
  src: local("Gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: local("Gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  width: 1440px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000;

  background-color: #fff;
  outline: 1px solid black;
}

.container {
  width: 1160px;
  margin: 0 auto;

  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

[class$="-list"] {
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid red;
}

[class$="-item"] {
  outline: 1px solid blue;
}

[class$="-container"] {
  outline: 1px solid red;
}

[class$="column"] {
  outline: 1px solid red;
}

[class$="-form"] {
  outline: 1px solid red;
}

.link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.link-user-menu {
  text-decoration: none;
  color: #000;
}

.link:hover,
.link-user-menu:hover {
  opacity: 0.6;
}

.link:active,
.link-user-menu:active {
  opacity: 0.3;
}

.btn {
  display: inline-block;
  width: 220px;
  padding: 8px 0;

  text-align: center;

  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  border: none;
  outline: none;
}

.btn:hover {
  background-color: #f0c52e;
  background-image: none;
  opacity: 1;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
  background-image: none;
  opacity: 1;
}

/*****************************************************************/

.main-header .container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 50px;
  /*  по странице каталога=55px~50px от низа главн. меню до бежево-белой границы*/
  background-image: linear-gradient(to bottom, #fff 59px, #f7e296 59px);
}

.logo {
  margin: 0;
  margin-bottom: 10px;
  /*  50-24-17=9~10px 50-расст. от бело-бежевой границы до меню 24-половина высоты строки логотипа 17-верхняя высота поля поиска*/
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 45px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-right: 100px;
}

input[type="search"] {
  flex-grow: 1;
  padding: 17px 20px;
  padding-left: 40px;

  font: inherit;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #000;

  background-color: #f7e296;
  border: none;
  outline: none;
  opacity: 0.3;
}

input[type="search"]:hover {
  opacity: 0.6;
}

input[type="search"]:focus {
  padding-bottom: 15px;

  opacity: 1;
  border-bottom: 2px solid #000;
}

.btn-search {
  padding: 15px 20px;

  font: inherit;
  line-height: 15px;
  color: #f7e296;

  background-color: #f7e296;
  border: 2px solid #f7e296;
  cursor: pointer;
}

.btn-search:hover {
  /*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!importan!!!!!!!!!!!!!!!!!!!!!!*/
  color: rgba(255, 255, 255, 1) !important;
  /*!!!!!!!!!!!!!!!!!!!!!!importan!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  background-color: #000;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/*
????????????????????????????????при фокусе  табом по кнопке  она должна отображаться???????????????
.btn-search:focus {  
  color: #000;

  border-color: #000;
}
*/

input[type="search"]:focus + .btn-search {
  color: #000;

  border-color: #000;
}

.btn-search:focus {
  color: #000;

  border-color: #000;
}

.user-menu-list {
  display: flex;
  width: 500px;
}

.user-menu-item {
  margin: 0 auto;
}

.user-menu-item:nth-child(1) {
  margin-left: 0;
  margin-right: 18px;
  padding-left: 28px;
}

.user-menu-item:nth-child(2) {
  margin-left: 0;
}

.user-menu-item:nth-child(3) {
  margin-right: 0;
  padding-left: 23px;
}

.user-menu-item:nth-child(4) {
  margin-right: 0;
  margin-left: 35px;
  padding-left: 25px;
}

.main-menu-list {
  display: flex;
}

.main-menu-item {
  margin: 0 auto;
}

.main-menu-item:nth-child(1) {
  position: relative;

  margin-left: 0;
}

.main-menu-item:nth-child(2) {
  margin-right: 0;
}

.main-menu-item:nth-child(3) {
  margin-left: 35px;
  margin-right: 100px;
}

.main-menu-item:nth-child(4) {
  margin: 0;
}

.main-menu-item:first-child:hover .sub-menu-list,
.main-menu-item:first-child:active .sub-menu-list {
  display: flex;
}

.sub-menu-list {
  position: absolute;
  top: 35px;
  left: -60px;
  z-index: 2;

  display: none;

  width: 1100px;
  padding-top: 20px;
  padding-left: 60px;

  background-color: #f7e296;
}

.sub-menu-item {
  width: 160px;
  margin-right: 40px;
}

.sub-menu-item:first-child {
  width: 200px;
}

.sub-menu-item:last-child {
  margin-right: 0;
}

.sub-menu-item ul li {
  margin-bottom: 15px;
}

.sub-menu-item ul li:last-child {
  margin-bottom: 0;
}

.sub-menu-list .link-user-menu {
  line-height: 36px;
}

/*****************************************************************/

.promo .container {
  padding-bottom: 105px;

  background-image: linear-gradient(to bottom, #f7e296 112px, #fff 112px);
}

.promo-slider {
  position: relative;
}

.promo .promo-item {
  display: none;
}

#promo-slide1:checked ~ .promo-list .promo-item:nth-child(1),
#promo-slide2:checked ~ .promo-list .promo-item:nth-child(2),
#promo-slide3:checked ~ .promo-list .promo-item:nth-child(3) {
  display: flex;
}

.promo-column {
  display: flex;
  width: 600px;
  /*    min-height: 486px;  */
}

.promo-column:first-child img {
  margin: auto;

  outline: 1px solid red;
}

.promo-column:last-child {
  position: relative;

  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  padding-top: 38px;
  /* 38px от границы секции до верха псевдо-рамки*/
}

.promo-item-title {
  position: absolute;
  right: -12px;
  top: -10px;

  margin: 0;

  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #fff;
}

.section-title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 50px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000;
}

.promo .section-title {
  margin-bottom: 30px;

  line-height: 56px;
}

.section-title::before {
  content: "";

  display: block;
  width: 100px;
  height: 7px;
  margin-bottom: 50px;

  background-color: #000;
}

.promo .section-title::before {
  margin-bottom: 35px;

  background-color: #fff;
}

.content {
  margin: 0;

  color: #464646;
}

.promo .content {
  margin-bottom: 45px;
}

.promo .btn {
  margin-bottom: 50px;
}

.product-properties .value {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000;
}

.product-properties .property {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.product-properties td {
  width: 160px;

  outline: 1px solid blue;
}

.product-properties td:nth-child(2) {
  width: 140px;
}

.promo-item .column:last-child {
  display: flex;
  width: 580px;
}

.promo-active {
  position: absolute;
  bottom: 125px;
  right: 50px;
}

.promo-active label {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-right: 15px;

  font-size: 0;
  width: 15px;
  height: 15px;

  background: url(../img/slider-button-off.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
}

#promo-slide1:checked ~ .promo-active label:nth-child(1),
#promo-slide2:checked ~ .promo-active label:nth-child(2),
#promo-slide3:checked ~ .promo-active label:nth-child(3) {
  background: url(../img/slider-button-on.svg) no-repeat;
  background-size: contain;
}

/****************************************************************************/

.popular-product {
  margin-top: 200px;
  padding-bottom: 85px;
}

.popular-product-list {
  display: flex;
  justify-content: center;
}

.popular-product-item {
  position: relative;

  width: 160px;
}

.popular-product .link {
  letter-spacing: 0.01em;
  text-transform: inherit;
}

.popular-product-item::before,
.popular-product-item::after {
  content: "";

  position: absolute;
  bottom: 85px;
  left: 0px;

  width: 160px;
  height: 160px;

  background: no-repeat center;
  cursor: pointer;
}

.popular-product-item::before {
  background-color: #f7e296;
}

.popular-product-item:nth-child(1)::after {
  background-image: url("../img/popular-1.svg");
}

.popular-product-item:nth-child(2)::after {
  background-image: url("../img/popular-2.svg");
  background-position: bottom;
}

.popular-product-item:nth-child(3)::after {
  background-image: url("../img/popular-3.svg");
}

.popular-product-item:nth-child(4)::after {
  background-image: url("../img/popular-4.svg");
}

.popular-product-item:nth-child(5)::after {
  background-image: url("../img/popular-5.svg");
}

.popular-product-item:nth-child(6)::after {
  background-image: url("../img/popular-6.svg");
}

.popular-product-item:hover::before,
.popular-product-item:active::before {
  background-color: #f0c52e;
}

.popular-product-item:active::after {
  opacity: 0.3;
}

/************************************************************************/

.services {
  padding-bottom: 70px;

  background-image: linear-gradient(to bottom, #fff 100px, #e5e5e5 100px);
}

.services-slider {
  display: flex;
}

#services-slide1:checked ~ .services-list .services-item:nth-child(1),
#services-slide2:checked ~ .services-list .services-item:nth-child(2),
#services-slide3:checked ~ .services-list .services-item:nth-child(3) {
  display: block;
}

.services-active {
  display: flex;
  flex-direction: column;
  width: 295px;
  margin-right: 115px;
  padding: 80px 0;

  border-right: 7px solid #000;
}

.services-active p {
  margin: 0;
  margin-bottom: 25px;
}

.services-active p:last-child {
  margin-bottom: 0;
}

.services-active .btn {
  width: 160px;
}

#services-slide1:checked ~ .services-active p:nth-child(1) .btn,
#services-slide2:checked ~ .services-active p:nth-child(2) .btn,
#services-slide3:checked ~ .services-active p:nth-child(3) .btn {
  color: #f7e184;

  background-image: none;
  background-color: #000;
}

#services-slide1:checked ~ .services-active p:nth-child(1),
#services-slide2:checked ~ .services-active p:nth-child(2),
#services-slide3:checked ~ .services-active p:nth-child(3) {
  background-color: #000;
}

.services-item {
  position: relative;

  display: none;
  width: 440px;
}

.services-item::after {
  content: "";

  position: absolute;

  display: block;
}

.services-item:nth-child(1)::after {
  bottom: 0px;
  right: -250px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.services-item:nth-child(2)::after {
  bottom: 0;
  right: -250px;

  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
}

.services-item:nth-child(3)::after {
  bottom: 0px;
  right: -250px;

  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
}

.services .section-title {
  margin-bottom: 40px;
}

.services .section-title::before {
  margin-bottom: 65px;

  background-color: #fff;
}

/*******************************************************************************/

.our-partner {
  padding: 105px 0;
}

.our-partner-list {
  display: flex;
  justify-content: space-around;
}

.our-partner-item a {
  display: block;
  width: 260px;
  height: 100px;
}

.our-partner-item a:hover img {
  display: none;
}

.our-partner-item:nth-child(1) a:hover {
  background-image: url("../img/logo-partner-1-hover.png");
}

.our-partner-item:nth-child(2) a:hover {
  background-image: url("../img/logo-partner-2-hover.png");
}

.our-partner-item:nth-child(3) a:hover {
  background-image: url("../img/logo-partner-3-hover.png");
}

.our-partner-item:nth-child(4) a:hover {
  background-image: url("../img/logo-partner-4-hover.png");
}

/*********************************************************************************************/

.index .container {
  display: flex;
}

/*************************************************************************************************/

.about-us {
  width: 560px;
  margin-right: 40px;
  padding-bottom: 90px;
}

.about-us .section-title::before,
.contacts .section-title::before {
  width: 70px;
}

.about-us .content,
.contacts .content {
  width: 480px;
  margin-bottom: 40px;
}

.about-us .content:nth-of-type(2) {
  margin-bottom: 52px;
}

.about-us .companies-list {
  margin-bottom: 80px;

  list-style: circle;
  /*  Как точки перенести за границу контейнера?*/
}

.companies-item {
  padding: 0;
  padding-left: 35px;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.companies-item:nth-child(3) {
  margin-bottom: 0;
}

.about-us .btn,
.contacts .btn {
  width: 260px;
}

/********************************************************************************/

.contacts img {
  width: 560px;
  height: 222px;
}

.contacts .map-container {
  margin-bottom: 80px;
}

/**************************************************************/

.main-footer {
  padding: 65px 0;

  color: #fff;

  background-color: #464646;
}

.main-footer .link {
  color: inherit;
}

.main-footer .link-user-menu {
  color: inherit;
}

.main-footer .content {
  color: inherit;
}

.footer-top,
.footer-middle,
.footer-bottom {
  width: 1160px;
  margin: 0 auto;

  outline: 1px solid red;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  /*  outline: 1px solid red;*/
}

.main-footer .logo-container {
  margin: 0;
}

.main-footer .logo {
  color: #ffc600;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;

  /*  outline: 1px solid red;*/
}

.main-footer .main-menu-list {
  justify-content: space-between;
  width: 440px;
}

.main-footer .main-menu-item {
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*  outline: 1px solid red;*/
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.social-item a {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  background-color: #7e7e7e;
  background-image: url("../img/facebook.svg");
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.social-item:nth-child(2) a {
  background-image: url("../img/instagram.svg");
}

.social-item:nth-child(3) a {
  background-image: url("../img/twitter.svg");
}

.social-item a:hover {
  opacity: 0.6;
}

.social-item a:active {
  opacity: 0.1;
}

.footer-bottom::before {
  content: "";

  display: block;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

/************************************************************************************************************/

.modal-write-us {
  position: relative;

  width: 760px;
  margin: 0 auto;
  padding: 90px 100px;

  outline: 1px solid red;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-form p {
  width: 360px;
  margin: 0;
}

.contact-form p:nth-child(2) {
  margin-left: 40px;
}

.contact-form p:nth-child(3) {
  width: 760px;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 55px;
}

.contact-form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 15px 20px;

  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.5;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  background-color: #eaeaea;
  opacity: 0.8;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  background-color: #fff;
  outline: 4px solid #f7e296;
  opacity: 1;
}

.contact-form textarea {
  min-height: 155px;
}

.modal-write-us .btn {
  width: 200px;

  background-color: inherit;
}

.modal-write-us .btn:hover {
  background-color: #f0c52e;
}

.modal-close {
  position: absolute;
  top: 35px;
  right: 25px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background: url("../img/modal-close.svg");
  background-size: contain;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

/******************************************************************************************/

.modal-map {
  position: relative;

  width: 960px;
  margin: 0 auto;

  outline: 1px solid red;
}

/***********************Страница моноподов*********************************************/

.monopods {
  padding-top: 40px;
  background-color: #fff;

  outline: 1px solid red;
}

.monopods-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.monopods .section-title {

  margin-bottom: 30px;
  margin-left: 200px;

  outline: 1px solid red;
}

.monopods .section-title::before {
  display: none;
}

.breadcrumbs-list {
  display: flex;
  margin-bottom: 50px;
  margin-left: 200px;
}

.breadcrumbs-item {
  position: relative;

  padding-right: 38px;
}

.breadcrumbs-item::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 0px;

  width: 8px;
  height: 8px;

  border: 2px solid #000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  opacity: 0.3;

  transform: rotate(45deg);
}

.breadcrumbs-item:nth-child(3)::after {
  display: none;
}

.link-breadcrumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #000;

  opacity: 0.3;
}

/*******************************************************************************/

.filter {
  width: 268px;
  padding-top: 25px;
  padding-left: 200px;

  background-image: linear-gradient(to bottom, #dbdbdb 70px, #eee 70px);
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 85px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.filter-form {
  width: 200px;
  margin-right: 68px;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #000;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;
}

.filter-form .catalog-title {
  margin: 0;

  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.filter-form .catalog-title::before {
  content: "";


  display: block;
  width: 201px;
  margin-bottom: 15px;

  border-top: 2px solid #000;
}

.range-controls {
  position: relative;

  margin-bottom: 15px;
}

.scale {
  margin-top: 35px;
  height: 2px;

  background-color: #dbdbdb;
}

.bar {
  width: 110px;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -10px;

  width: 4px;
  height: 4px;

  background-color: #818181;
  border: 9px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: -5px;
}

.range-toggle-max {
  left: 110px;
}

.range-filter label {
  font: inherit;
  line-height: 24px;
  letter-spacing: 0;

  opacity: 0.2;
}

.filter-form [class$="-price"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  margin-left: 5px;
  padding: 0;

  font: inherit;
  line-height: 24px;
  color: #000;

  border: none;
}

.color-filter-list label,
.bluetooth-filter-list label {
  position: relative;

  padding-left: 40px;

  font-size: 14px;
  line-height: 40px;

  cursor: pointer;
}

.color-filter-list label::before {
  content: "";

  position: absolute;
  top: 0;
  left: -0px;

  display: block;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.color-filter-list input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.bluetooth-filter-list label::before {
  content: "";

  position: absolute;
  top: 0;
  left: -0px;

  display: block;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.bluetooth-filter-list input:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-form .btn {
  width: 100%;

  background-color: inherit;
}

.filter-form .btn:hover {
  background-color: #f0c52e;
}

/**********************************************************************************/

.catalog {
  display: flex;
  flex-wrap: wrap;
  /*  align-items: baseline;*/
  align-items: flex-start;
  width: 762px;
  /*972-140-70=762   972 - ширина колонки по макету*/
  margin: 0 auto;
  padding-top: 25px;
  padding-right: 140px;
  padding-left: 70px;

  background-image: linear-gradient(to bottom, #ebebeb 70px, #fff 70px);
}

.catalog .catalog-title {
  margin-right: 60px;
}

.sort-type-list {
  display: flex;
  /*  flex-wrap: wrap;*/
  /*  align-items: center;*/
  width: 500px;

}

.sort-type-item {
  padding-right: 30px;
  /*
  display: inline-block;
  margin-right: 30px;

  vertical-align: middle;
*/
}

.sort-list {
  display: flex;
  margin-right: 0;
}

.sort-item {
  /*
  display: inline-block;
  margin-right: 15px;

  vertical-align: middle;
*/
}

.sort-item:last-child {
  /*  margin-right: 0;*/
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

  opacity: 0.3;
}

.sort-icon {
  display: block;
  width: 11px;
  height: 10px;

  font-size: 0;

  opacity: 0.2;
}

.ascending {
  background-image: url("../img/icon-up.svg");
}

.descending {
  background-image: url("../img/icon-down.svg");
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*  align-content: center;*/
  align-items: center;

  width: 360px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  order: 2;
  width: 260px;
  margin: 0;
}

.catalog-item-price {
  order: 3;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-item-title .link {
  text-transform: inherit;
  letter-spacing: 0.01em;
}

.catalog-item-image {
  order: 1;
  margin: 0;

  outline: 1px solid red;
}

.catalog-item > a {
  /*    display: none;*/
}

.into-the-backet,
.product-comparison {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 200px;

  transform: translateX(-50%) translateY(-50%);
}

.product-comparison {
  top: 60%;

  outline: 1px solid red;
}

.mark-new {
  position: absolute;
  top: 13%;
  right: 8%;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #d9d9d9;
  /*  opacity: 0.2;*/
}

.mark-new::before {
  content: "";

  position: absolute;
  top: -21px;
  right: 0;
  display: block;
  width: 57px;
  height: 57px;

  border: 3px solid #d9d9d9;
  border-radius: 50%;
  /*  opacity: 0.5;*/
}










.pagination-list {
  display: flex;
  width: 100%;
}


.paginator-item {
  margin: 0 auto;
}

.paginator-item:first-child {
  margin-left: 30px;
}

.paginator-item:nth-child(2n) {
  margin: 0;
}

.paginator-item:nth-child(3) {
  margin: 0 30px;
}

.paginator-item:last-child {
  margin-right: 30px;
}
