/*font-family: "Gilroy", sans-serif;*/
/*font-family: "Open sans", sans-serif;*/

@font-face {
  font-family: "gilroyextrabold";
  src: local("Gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  src: local("opensans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
